<div class="content" role="main">
  <input
    id="colorPicker"
    [style.background]="color"
    [cpPresetColors]="colorBox"
    [(colorPicker)]="color"
    (colorPickerClose)="onColorChanged($event)"
    style="display: none; height: 0"
  />

  @if (showSettings$ | async) {
    <app-settings />
  }
  <div
    [class.headerAndCanvas]="
      !(showSettings$ | async) && (showDescription$ | async)
    "
    [class.headerAndCanvasCollapsed]="
      !(showSettings$ | async) && !(showDescription$ | async)
    "
    [class.hidden]="showSettings$ | async"
  >
    <app-header
      [class.header]="showDescription$ | async"
      [class.headerCollapsed]="!(showDescription$ | async)"
    />
    <div appDrag id="canvas"></div>
  </div>
</div>
